<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.weibo %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="https://weibo.com/javaliao" title="微博（javaliao）" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">微博（javaliao）</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.githubBoom %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/BoomManager" title="Github（BoomManager）" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github（BoomManager）</span>
    </a>
  </li>
  {% endif %}

    {% if site.social.githubjava %}
    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/javaliao" title="Github（javaliao）" target="_blank">
        <i class='social fa fa-github'></i>
        <span class="label">Github（javaliao）</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.gitee %}
    <!-- GitEE -->
    <li class="navigation__item">
      <a href="https://gitee.com/java_wxid" title="码云（java_wxid）" target="_blank">
        <i class='social fa fa-github'></i>
        <span class="label">码云（java_wxid）</span>
      </a>
    </li>
    {% endif %}

  

  </ul>
</nav>
